.read-card {
    padding: 10px;
    background-color: rgb(158, 43, 154);
    margin-bottom: 30px;
}

.read-card img {
    margin-bottom: 20px;
}

.read-card button {
    border-radius: 32px;
    border: 0 solid;
    width: 100%;
}

.read-card button:hover {
    color: #886e6e;
    background-color:aquamarine;
}
.wrap {
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}